<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>博客</title>
    <link rel="stylesheet" href="../lib/editormd/css/editormd.css"/>
</head>
<body>
    <div id="test-editor">
        <textarea style="display:none;">





</textarea>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script th:src="@{../lib/editormd/editormd.min.js}"></script>
    <script type="text/javascript">
        $(function() {
            var editor = editormd("test-editor", {
                // width  : "100%",
                // height : "100%",
                autoHeight : true,
                searchReplace : true,
                htmlDecode : true,
                tex : true,
                taskList : true,
                emoji : true,
                flowChart : true,
                sequenceDiagram : true,
                path   : "lib/editormd/lib/"
            });
        });
    </script>
</body>
</html>